@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@100;200;300;400;600;700;800;900&display=swap');

html{
  background-color: #27374D;
}

body {
  margin: 0;
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-shadow{
  box-shadow: #DDE6ED 0px 5px 15px;
}

.input-shadow{
  box-shadow: #DDE6ED 0px 2px 8px 0px;
}